body{
    font-family: sans-serif;
    margin: 0;
    line-height: 1.4;
    font-size: 18px;
}

.tab__nav{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.tab__el--active a{
    background-color: yellowgreen;
}

.tab__content{
    display: none;
}

.tab__content--active{
    display: block;
}