body{
    font-family: sans-serif;
    margin: 0;
    line-height: 1.4;
    font-size: 18px;
}

/* burger menu que sur téléphone*/
@media (max-width: 600px) {
    .menu__toggle{
        position: fixed;
        top: 20px;
        right: 20px;
        cursor: pointer;
        z-index: 20; /*pour le mettre au dessus sur les couches, travailler avec des dizaines pour si on doit intercaller des couches après*/
    }
    .menu__liste{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: indianred;
        margin: 0; /* car le ul a un margin par défaut*/
        z-index: 10;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
    }
    .menu--open .menu__liste{
        transform: translateX(0);
    }
}

.no-scroll{ /* pour pas que la page continue à scroller en dessous du burger mnu*/
    overflow: hidden;
}