body{
    font-family: sans-serif;
    margin: 0;
    line-height: 1.4;
    font-size: 18px;
    /*a supprimer*/
    height: 3000px;
}

.scrollBar{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 15px;
    background-color: rgb(247, 159, 204);
}

.scrollBar__progress{
    height: 100%; /*même hauteur que son parent (15px) et si on change les px ça va changer aussi*/
    background-color: rgb(112, 11, 64);
    width: var(--scrollbar-width, 0%);
}